<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{meta_title}}</title>
		<meta name="viewport" content="width=device-width">

		<link href="{{asset 'css/isso.css'}}" rel="stylesheet" />
		<link href="{{asset 'css/hybrid.css'}}" rel="stylesheet" />
		<link href="{{asset 'css/style.css'}}" rel="stylesheet" />
		<link href="{{asset 'css/colors-dark.css'}}" rel="stylesheet" />

		{{ghost_head}}
	</head>
	<body class="{{body_class}}">
		<header id="header">
			{{#if @blog.logo}}
			<a id="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" /></a>
			{{else}}
			<h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
			{{/if}}
			<p>{{@blog.description}}</p>
		</header>

		<div id="page">
			<div id="sidebar">
				<nav>
					{{navigation}}
				</nav>
			</div>

			<div id="content">
				{{{body}}}
			</div>

			<footer id="footer">
				<p class="copyright">Powered by <a href="http://ghost.org">Ghost</a> and the <a href="https://github.com/BakeRolls/solar-theme-ghost">Solar</a>-theme.</p>
			</footer>
		</div>

		{{ghost_foot}}
	</body>
</html>
